* {
    border: 0px;
    padding: 0px;
}

.grid-scatterplot {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}


.grid-scatterplot div {
    height: 150px;
    width: auto;
}

div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: fit-content;				
    height: 20px;					
    padding-top: 5px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;
}


div.sectorName {	
    position: absolute;			
    text-align: center;			
    width: fit-content;				
    height: 20px;					
    padding-top: 5px;				
    font: 12px sans-serif;		
    border-style: double;
    pointer-events: none;
    border-radius: 8px;	
}

.dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
  }

h3 {
    display: inline;
    font-size: 15px;
    margin-right: 10px;
}

.hidden {
    stroke: #000; 
    stroke-opacity: 0.01;
}